<ion-header>
  <ion-toolbar>
    <ion-title>More Info</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <h4>BMI</h4>
      </ion-col>
      <ion-col>
        <h4>Weight Status</h4>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        Below 18.5
      </ion-col>
      <ion-col>
        Underweight
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        18.5 to 24.9
      </ion-col>
      <ion-col>
        Healthy Weight
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        25.0 to 29.9
      </ion-col>
      <ion-col>
        Overweight
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        30.0 and Above	
      </ion-col>
      <ion-col>
        Obesity
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
